@media (max-width: 991px) {

    .navbar-nav{
        display: none;
        position: absolute;
        background: white;
        border: 1px solid gray;
        top: 56px;
        right: 0;
        flex-direction: column;
        padding: 8px
    }
    .nav-item{
        background: white;
    }
    .btn{
        width: 100%;
        border: 1px solid gray;
        padding: 5px;
        margin: 3px;
    }
    }