*{
    margin-top:0;
}

body{
    margin:0;
    background-color: silver;
    font-family: verdana;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#494e63+0,8989ba+100 */
background: #494e63; /* Old browsers */
background: -moz-linear-gradient(-45deg, #494e63 0%, #8989ba 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #494e63 0%,#8989ba 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #494e63 0%,#8989ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494e63', endColorstr='#8989ba',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.all_site{
    max-width: 480px;
    min-height: 100px;
    background-color: rgba(255,255,255,0.3);
    margin:0 auto 10px;
    padding: 10px;
    box-sizing: border-box;
    
}

 h1{
    margin: 5px;
    text-align: center;
    
}

h2{
  margin: 5px ;  
  font-size: 1.4em;
}

.search{
    width:100%;
    background-color: rgba(200,200,255,0.5);
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
}

.search label{
    font-size: 1.3em;
    margin-bottom: 6px;
    display: inline-block;
}


.box{
    width:100%;
    background-color: silver;
    border-bottom: 1px solid appworkspace;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    transition:0.8s;
    
    
}

.box:hover{
    background-color: #f4ff68;
}

.box:first-of-type {
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    
}

.box:last-of-type {
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    
}

.box img{
    float: left;
    margin-right: 10px;
    max-width: 100px; 
    
    border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
    transition: 0.8s;
}

.box img:hover{
    transform: scale(1.1,1.1);
}

.box h3{
    color:black;
}

.box button {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    margin-top: 8px;
}
.box button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.box button:active {
	position:relative;
	top:1px;
}


input[type="text"], textarea {
 display: block;
    width: 50%;
    height: 36px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size: 1.3em;
}

select{
    font-size: 1.3em;
    display: block;
    width: 56%;
    height: 40px;
    padding: 0px 12px;
    
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    
}

.box img.img_box{
    width:100%;
    opacity: 0.8;
    max-width: 500px;
    text-align: center;
    margin-bottom: 14px;
}


@media (max-width: 991px) {

    .navbar-nav{
        display: none;
        position: absolute;
        background: white;
        border: 1px solid gray;
        top: 56px;
        right: 0;
        flex-direction: column;
        padding: 8px
    }
    .nav-item{
        background: white;
    }
    .btn{
        width: 100%;
        border: 1px solid gray;
        padding: 5px;
        margin: 3px;
    }
    }